# Default registry remains npmjs for public packages
registry=https://registry.npmjs.org/

# Override for your private scope
@i-soft:registry=http://192.168.0.20:4873/

engine-strict=true
save-exact=true